/*
p {
    text-align: center;
}

h1 span {
    font-size: 5rem;
}

section > h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}

#urban h2 {
    margin-bottom: 20px;
}

#urban1 p {
    font-size: 1.2rem;
}

.fixed-top nav {
    padding: 15px 0px;
}

.fixed-top nav a {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

nav {
    font-size: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
}
