html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /*background: #f8fcfa;*/
    background:#ffffff;
}

section {
    margin-bottom: 4rem;
}

/*------------------------------Main Header--------------------------------- */

header {
    min-height: 40rem;

    /*
     * Image taken by Linda N: https://www.flickr.com/people/22748341@N00
     * The image has been edited.
     * Found at: https://en.wikipedia.org/wiki/Urban_agriculture#/media/File:New_crops-Chicago_urban_farm.jpg
     * License can be found at: creativecommons.org/licenses/by/2.0/
     */
    /*background-image:url("images/farming.jpg");*/
    background-image:url("images/farmingblackcropped.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #22442a;




    /* Center items flexbox fallback */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 span {
    font-size: 5.4rem;
    font-weight: 400;
    text-shadow: 0 0 18px #140101;
}

section {
    margin-bottom: 5rem;
}

h2{

    font-size: 2rem;
    padding: 2rem;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    font-weight: initial;
    padding: 10px;

}

h4{
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding-top: 2rem;
}

/*------------------------------Section Header------------------------------ */

section > h2 {
    position: relative;
    text-align: center;
    width: 84%;
    margin: 3rem auto;
    font-size: 2rem;
    font-weight: 400;
    color: #384d45;
}

section > h2 > span {
    background-color: #ffffff;
    padding: 0 2rem;
}

/*--------------------Button section---------------------------------*/
.button {
    background-color: #157e3d;
    border: none;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Roboto Regular";
    border-radius: 4em;
    margin: 5% 2%;
    font-weight: bold;
}
.button:hover {
    background-color: #ffe400;
    color: #030300;
    text-shadow: none;
    font-weight: bold;
}

.box .button {
    font-size: 30px;
}
.source {

    color: #f606f6;

}
.source:hover{
    background-color: #1ff307;
}

/*-------------------------------Fixed Top-----------------------------------*/

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;


    background-color: #157e3d;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    box-shadow: 0 0 7px rgba(13, 27, 15, 0.08);
    align-items: center;
}

.fixed-top nav {
    padding: .6rem 2rem;
}

.fixed-top .brand {
    color: #f7faf9;
    padding: 0 2rem;
    font-size: 2rem;
}


.fixed-top nav a {
    margin-left: 3rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    transition: .08s;
}

.fixed-top nav a:hover {
    background-color: #2f6a57;
    color: #ffffff;
    }


/*--------------------animation top nav bar----------------------*/
/*
nav {
    margin: 30px auto 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 600px;
    text-align: center;
}
a {
    position: relative;
   margin-right: 5rem;
    padding: 15px 0;


}
a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after {
    width: 100%;
    left: 0;
}

 */
/*----------------end animaion nav bar----------------------*/




/* Urban Farming Section */

#urban1 p {
    max-width: 95%;
    /*width: 1000px;*/
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;

}

#urban1 {
    margin-bottom: 0rem;
}


/*----------------Challenge Page----------------*/

#challenge p {
    max-width: 95%;
    /*width: 1000px;*/
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
}

#challenge img{
    max-width: 50%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;

}


#urban1 p{
    color: #05386B;

}

/*-------------------Solution Page----------------*/

#solution {
    margin-bottom: 0px;
}

#solution p {
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
}

#solution ul{
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
}

/*--------------page sources-------------------*/
.source{
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.source a{
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
}


/*----------------------------------------UN Goal --------------------------------------*/
#ungoal p {
    max-width: 95%;
    width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 40px;
    background-color: #cfcdcb;
}
#ungoal h2{
    font-size: 2rem;
    margin-top: 2.2vw;
}
/*-------------------------footer-------------------------*/
footer {
    background-color: #157e3d;
    padding: 5rem;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #090808;
    background-color: #f8f6f6;
    font-weight: bold;

}




/*
@media(max-width: 640px) {
    .fixed-top {
        flex-direction: row;
    }

    .fixed-top nav a {
        font-size: 1rem;
    }
}

 */
#city-mask {
    width: 100%;
    padding: 0;
    margin: 0;

}

#city-mask img {
    width: 100%;
    box-shadow: none;
    object-fit: cover;
    max-height: 25rem;
}

.ungoal img{
    opacity: 0.8;
    height: auto;
    max-width: 40%;
    justify-content: left;

}
#urban1 img {
    float: right;
    margin-bottom: 40px;
}

#urban-farmer img {
    width: 100%;
    box-shadow: none;
    object-fit: cover;
    max-height: 25rem;
}

#urban-farmer {
    margin-bottom: 0px;
}

#solution img {
    float: left;
    margin-bottom: 50px;
}


/*
@media(max-width: 1168px) {
    #urban1 .h2 {
        padding: 0 .5rem;
    }

    #home .h1 {
        flex-wrap: wrap;
    }
}
*/










